.no-padding {
    padding: 0;
}
.wrap-index {
    padding-top: 20px;
}
.wrap-index .dataTables_filter {
    margin-bottom: 15px;
}
.wrap-index .dataTables_filter input {
    width: 100%;
    margin: 0;
}
.wrap-index-table {
    overflow-x: scroll;
}
.wrap-index-table tr th {
    text-align: center;
}
.wrap-bottom-pagination {
    padding-top: 20px;
}
.m-subheader .m-subheader__breadcrumbs.m-nav>.m-nav__item>.m-nav__link>.m-nav__link-icon {
    display: inline-block;
    width: 20px;
    color: #5867dd;
    vertical-align: initial;
}
.label-switch {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}